#### Add a new key-value pair to an existing dictionary.

In [27]:
my_dict = {
   "Student1":{
       
    "name" : "Aakash",
    "age" : 23,
    "address" : "Alambagh"
   },

    "student2" :{
        "name" : "Smriti",
        "age" : 21,
        "address" : "MI"
    }
    

}

In [28]:
for i in dict:
    value = dict[i]
    print(i, value)

Student1 {'name': 'Aakash', 'age': 23, 'address': 'Alambagh', 'Country': 'India'}
student2 {'name': 'Smriti', 'age': 21, 'address': 'MI'}

In [29]:
for key, value in dict.items():
    print(key, value)

Student1 {'name': 'Aakash', 'age': 23, 'address': 'Alambagh', 'Country': 'India'}
student2 {'name': 'Smriti', 'age': 21, 'address': 'MI'}

In [30]:
my_dict["Student1"]["Country"] = "India"

In [31]:
for key, value in dict.items():
    print(key, value)

Student1 {'name': 'Aakash', 'age': 23, 'address': 'Alambagh', 'Country': 'India'}
student2 {'name': 'Smriti', 'age': 21, 'address': 'MI'}

In [32]:
my_dict["student3"] = {
    "name": "John",
    "age": 22,
    "address": "Downtown"
}

In [33]:
for key, value in my_dict.items():
    print(key, value)

Student1 {'name': 'Aakash', 'age': 23, 'address': 'Alambagh', 'Country': 'India'}
student2 {'name': 'Smriti', 'age': 21, 'address': 'MI'}
student3 {'name': 'John', 'age': 22, 'address': 'Downtown'}

#### Given two dictionaries, merge them into a single dictionary

In [38]:
## Method 1 : using update method

dict_A = {
    "a" : 1,
    "b" : 2
}

dict_B = {
    "c" : 3,
    "d" : 4
}

dict_A.update(dict_B)
print(dict_A)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
## Method 2 : Dictionary unpacking

merged_dict = {**dict_A, **dict_B}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#### Implement a function that removes a key-value pair from a dictionary

In [41]:
if "a" in merged_dict:
    del merged_dict["a"]

print(merged_dict)

{'b': 2, 'c': 3, 'd': 4}

In [42]:
##  none to avoid errors of b is not present
merged_dict.pop("b", None)
print(merged_dict)

{'c': 3, 'd': 4}

#### Write a Python program that counts the number of occurrences of each character in a given string using a dictionary

In [49]:
string = "Hi my name is Aakash, Hi"
modified_string = string.split()

key = (set(modified_string))

dict_words = dict.fromkeys(key, 0)

for char in modified_string:
    dict_words[char] += 1

print(dict_words)

{'Hi': 2, 'Aakash,': 1, 'is': 1, 'name': 1, 'my': 1}

####  Write a program that finds the most frequent element in a dict and list

In [64]:
num = 0

for key in dict_words:
    if dict_words[key] > num:
           keys, num =  (key, dict_words[key])

print("Most occuring key and it's value is :", keys,"=>",num)

Most occuring key and it's value is : Hi => 2

In [68]:
lst_A = ["I", "I", "Apple", "Mangoes", "Mangoes", "Mangoes"]
unique_words = set(lst_A)

dict_lst_A = dict.fromkeys(unique_words, 0)

for char in lst_A:
    dict_lst_A[char] += 1

## Finding most frequent element

max_num = 0

for i in dict_lst_A:
    if max_num < dict_lst_A[i]:
        keys, max_num = key, dict_lst_A

print("Most occuring element and it's value is :", keys,"=>",num, "times.")

TypeError: '<' not supported between instances of 'dict' and 'int'

In [69]:
print(dict_lst_A[2])

KeyError: 2